<div class="component-info__wrapper">
  <p>
    This component shows a ring with two circles, one is filled with a percent defined as a parameter.
  </p>
  <p>
    Parameters:
  </p>
  <ul>
    <li><span class="name">size: </span>The diameter of the ring</li>
    <li><span class="name">strokeWidth: </span>Width of the stroke for the circles of the ring. This value is part of the size of the ring. E.g., in a component with a size of 100 and a stroke width of 5, the outer diameter of the ring is 100 and the inner diameter is 90 (100 - (5 * 2))</li>
    <li><span class="name">backColor: </span>Color for the circle as the background of the ring</li>
    <li><span class="name">frontColor: </span>Color for the circle that shows the percentage value of the ring</li>
    <li><span class="name">percent: </span>Percentage to show in the ring</li>
    <li><span class="name">direction: </span>Direction that the circle of percentage must to grow. This value can be 'right' or 'left'. If it's 'right', the circle will be grown in the same way of the clock needles, otherwise, if the value is 'left', the circle will be growns it the opposite way</li>
    <li><span class="name">showPercentText: </span>To show or not, into the inner circle, a text with the percentage that is shown in the ring</li>
    <li><span class="name">useAnimation: </span>To animate the stroke from 0 to the value as received as a parameter when the component is inserted or when the percentage is changed</li>
  </ul>
</div>
<div class="rings__wrapper">
  <div class="rings__item">
    <gtx-progress-ring
      [size]="180"
      [backColor]="'gray'"
      [frontColor]="'cyan'"
      [percent]="33"
      [direction]="rightDirection"
      [showPercentText]="true"
      [useAnimation]="true">
    </gtx-progress-ring>
    <div class="rings__parameters">
      <h3>Parameters</h3>
      <table>
        <tr>
          <th>size</th>
          <td>180</td>
        </tr>
        <tr>
          <th>strokeWidth</th>
          <td>10 (by default)</td>
        </tr>
        <tr>
          <th>backColor</th>
          <td>gray</td>
        </tr>
        <tr>
          <th>frontColor</th>
          <td>cyan</td>
        </tr>
        <tr>
          <th>percent</th>
          <td>33</td>
        </tr>
        <tr>
          <th>direction</th>
          <td>right</td>
        </tr>
        <tr>
          <th>showPercentText</th>
          <td>true</td>
        </tr>
        <tr>
          <th>useAnimation</th>
          <td>true</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rings__item">
    <gtx-progress-ring
      [strokeWidth]="8"
      [percent]="33"
      [direction]="leftDirection">
    </gtx-progress-ring>
    <div class="rings__parameters">
      <h3>Parameters</h3>
      <table>
        <tr>
          <th>size</th>
          <td>200 (by default)</td>
        </tr>
        <tr>
          <th>strokeWidth</th>
          <td>8</td>
        </tr>
        <tr>
          <th>backColor</th>
          <td>#C2C2C2 (by default)</td>
        </tr>
        <tr>
          <th>frontColor</th>
          <td>#99B2FF (by default)</td>
        </tr>
        <tr>
          <th>percent</th>
          <td>33</td>
        </tr>
        <tr>
          <th>direction</th>
          <td>left</td>
        </tr>
        <tr>
          <th>showPercentText</th>
          <td>false (by default)</td>
        </tr>
        <tr>
          <th>useAnimation</th>
          <td>false (by default)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rings__item">
    <gtx-progress-ring
      [size]="150"
      [strokeWidth]="5"
      [frontColor]="'#FF4B33'"
      [percent]="75"
      [showPercentText]="true">
    </gtx-progress-ring>
    <div class="rings__parameters">
      <h3>Parameters</h3>
      <table>
        <tr>
          <th>size</th>
          <td>150</td>
        </tr>
        <tr>
          <th>strokeWidth</th>
          <td>5</td>
        </tr>
        <tr>
          <th>backColor</th>
          <td>#C2C2C2 (by default)</td>
        </tr>
        <tr>
          <th>frontColor</th>
          <td>#FF4B33</td>
        </tr>
        <tr>
          <th>percent</th>
          <td>75</td>
        </tr>
        <tr>
          <th>direction</th>
          <td>right (by default)</td>
        </tr>
        <tr>
          <th>showPercentText</th>
          <td>true</td>
        </tr>
        <tr>
          <th>useAnimation</th>
          <td>false (by default)</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <div style="display: flex">
  <div style="padding: 1em">
    <gtx-progress-ring
      [useAnimation]="true"
      [size]="200"
      [strokeWidth]="15"
      [percent]="33.3"
      [showPercentText]="true"
      [frontColor]="'green'">
    </gtx-progress-ring>
  </div>
  <div style="padding: 1em">
    <gtx-progress-ring
      [size]="150"
      [strokeWidth]="10"
      [percent]="25"
      [direction]="direction">
    </gtx-progress-ring>
  </div>
  <div style="padding: 1em">
    <gtx-progress-ring
      [useAnimation]="true"
      [size]="200"
      [strokeWidth]="15"
      [percent]="percent"
      [showPercentText]="true"
      [frontColor]="'red'">
    </gtx-progress-ring>
    <button (click)="increase()">Increase</button>
    <button (click)="decrease()">Decrease</button>
  </div>
<div> -->
